@model List<OrderViewModel>

<div class="row">
    <div class="col-md-12">
        <div class="card p-4 mb-4" style="background-color:ivory ;border-block-color:black; border-radius:24px;text-align:center;">
            <h1>
                Siparişler
            </h1>
        </div>
        @foreach (var item in Model)
        {
            <div class="card p-4 mb-4" style="background-color:ivory ;border-block-color:black; border-radius:24px; text-align:center;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-body">
                            <h5 class="card-title">Sipariş Tarihi: @item.ModifiedDate</h5>
                            <p class="card-text">Toplam Fiyat: @item.TotalPrice ₺</p>

                            <form asp-action="OrderDetail" method="get" style="display:inline">
                                <input type="hidden" name="orderId" value="@item.Id" />
                                <button type="submit" class="btn btn-success"><i class="">Detaylar</i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>